<div class="card-body">
    <div class="d-flex w-100 justify-content-between">
        <a [routerLink]="['/poem', poem.id]">
            <h4 class="mb-3">{{ poem.title }}</h4>
        </a>
        <small class="text-muted">{{ poem.creation_time |date: 'short'}}   </small>
    </div>
    <blockquote class="blockquote">
        <p style="white-space: pre-wrap;" class="mb-0">{{ poem.content}}</p>
        <footer class="blockquote-footer">{{ poem.author }}</footer>
    </blockquote>

    <div class="d-flex w-100 justify-content-between">
        <div><small>Added by: </small><span class="badge badge-light">{{ poem.user.username }}</span></div>
        <star-rating-comp [staticColor]="'ok'" [showHalfStars]="true" [readOnly]="true" [starType]="'svg'" [rating]="poem.rating"></star-rating-comp>
    </div>
</div>

