<div>
    <app-page-header [heading]="'#'+poem.id" [icon]="'fa-book'"></app-page-header>

    <div class="card">
        <div class="card-body">
            <div class="d-flex mb-2">
                <star-rating-comp [labelText]="poem.rating + ' (' + poem.rating_count + ' rates)'" [labelPosition]="'right'" [staticColor]="'ok'" [showHalfStars]="true" [readOnly]="true" [starType]="'svg'" [rating]="poem.rating"></star-rating-comp>
                <p></p>
            </div>
            <h4 class="font-weight-bold card-title mr-3">{{ poem.title }}</h4>
            <blockquote class="blockquote">
                <p style="white-space: pre-wrap;" class="mb-3">{{ poem.content }}</p>
                <footer class="blockquote-footer">{{ poem.author.name }} {{ poem.author.surname }}</footer>
            </blockquote>
        </div>

        <div class="card-footer mb-0">
        <div class="row pl-4">
            <div class="col-md-8 row">
                <p class=" text-muted mb-0 mr-2"  *ngIf="!rated" >Not rated by you!</p>
                <star-rating-comp class="mb-0" *ngIf="rated" [staticColor]="'ok'" [showHalfStars]="true" [readOnly]="true" [starType]="'svg'" [rating]="poem.rating"></star-rating-comp>
                <app-poem-rate-dialog></app-poem-rate-dialog>
            </div>
            <div class="text-muted col-md-4 pr-0">
                <p class="mb-0 pull-right">Added by: {{ poem.user.username }}, {{ poem.creation_time | date: 'short' }}</p>
            </div>
        </div>
        <hr>
            <div class="form-group">
                <h5>Feel free to express Your opinion!</h5>
                <div class="row">
                    <label for="userName" class="col-sm-2 col-form-label">Your name:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="userName" placeholder="What is Your name?">
                    </div>
                </div>
                <div class="row">
                    <label for="userComment" class="col-sm-2 col-form-label">Opinion:</label>
                    <div class="col-sm-4">
                        <textarea class="form-control form-control-sm" style="resize: vertical" rows="3" id="userComment" placeholder="What is Your opinion?"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-xs-2 col-xs-offset-2">
                        <input type="checkbox" class="form-check-input" id="notRobotCheckbox" [checked]="(isARobot)" (load)="isARobot = true" (change)="isARobot = !isARobot">
                    </div>
                    <label class="form-check-label" for="notRobotCheckbox">I'm absolutely not a robot!</label>
                </div>
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="!isARobot">Submit</button>
            </div>
        <hr>
            <div class="card">
                <h5 class="card-header">{{ comments.length }} comments</h5>
                <div class="card-body" *ngFor="let comm of comments">
                    <span class="fa fa-comment"></span><small> #{{ comm.id }} {{ comm.user }}<span class="pull-right">{{ comm.date }}</span></small>
                    <p class="card-text">{{ comm.content }}</p>
                </div>
            </div>
    </div>
    </div>
</div>



<router-outlet></router-outlet>
