<div>
    <app-page-header [heading]="'Profil'" [icon]="'fa-list'"></app-page-header>

    <div class="row">
        <section class="col-lg-2 col-md-2">
            <div>
                <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            </div>
            <div>
                <h4 class="mb-0">{{ user.username }}</h4>
                <p class="text-muted mb-2">{{ user.email }}</p>
                <a href="#">
                    <p>Edit profile</p>
                </a>
            </div>
        </section>
        <section class="mt-4 col-lg-10 col-md-10">
            <div class="card">
                <h4 class="card-header">Info</h4>
                <app-poems-list></app-poems-list>
            </div>
        </section>

    </div>
</div>
<router-outlet></router-outlet>
