<!--The content below is only a placeholder and can be replaced.-->
<div>
    <app-page-header [heading]="'Lista wierszy'" [icon]="'fa-table'"></app-page-header>
    <div class="card mb-3">
        <div class="card-header">Wiersze</div>
        <table class="card-body table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<router-outlet></router-outlet>
