<div>
    <app-page-header [heading]="'Lista wierszy'" [icon]="'fa-table'"></app-page-header>
    <div class="card mb-3">
        <div class="card-header">Wiersze</div>
        <table class="card-body table table-hover" *ngIf="poems && poems.length">
            <thead>
            <tr>
                <th>#</th>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Treść</th>
                <th>Ocena</th>
                <th>Autor</th>
                <th>Data utworzenia</th>
                <th>Data modyfikacji</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let poem of poems">
                <td>{{ poem.id }}</td>
                <td>{{ poem.title }}</td>
                <td>{{ poem.description }}</td>
                <td>{{ poem.content }}</td>
                <td><star-rating-comp [staticColor]="'ok'" [showHalfStars]="true" [labelText]="poem.rating" [hoverEnabled]="false" [starType]="'svg'" [rating]="poem.rating"></star-rating-comp></td>
                <td>{{ poem.author.name }} {{ poem.author.surname }}</td>
                <td>{{ poem.creation_time | date: 'short'}}</td>
                <td>{{ poem.modification_time | date: 'short'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<router-outlet></router-outlet>
