
    <div class="card mb-3">
        <div class="card-header">Poems</div>
        <table class="card-body table table-hover" *ngIf="poems && poems.length">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Content</th>
                <th>Rate</th>
                <th>Author</th>
                <th>Creation date</th>
                <th>Modification date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let poem of poems">
                <td>{{ poem.id }}</td>
                <td>{{ poem.title }}</td>
                <td>{{ poem.description }}</td>
                <td>{{ poem.content }}</td>
                <td><star-rating-comp [staticColor]="'ok'" [showHalfStars]="true" [labelText]="poem.rating" [hoverEnabled]="false" [starType]="'svg'" [rating]="poem.rating" [readOnly]="true"></star-rating-comp></td>
                <td>{{ poem.author.name }} {{ poem.author.surname }}</td>
                <td>{{ poem.creation_time | date: 'short'}}</td>
                <td>{{ poem.modification_time | date: 'short'}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="editPoem(poem.id)">Edit</button><br>
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="deletePoem(poem.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



<router-outlet></router-outlet>
